/*
	sdot stylesheet {s.dot}

  ** DENISE THUY VY NGUYEN 
  ** =^.,.^= 10-23-2017
*/
.body_container{
    width: 80%;  /* Makes container smaller than body */
    margin-left: auto;  /* Centers container within body */
    margin-right: auto;
    background-color: #A9A9A9;
}


.main_body{
    position: absolute;
    padding: 5px;
    text-align: center;
}
#main_content{
    text-align: center;
}

select {
    width: auto;
}